body {
  margin: 0px;
  font-family: "Roboto";
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 20vw;
  background: #1f2937;
}

ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  display: flex;
  gap: 25px;
}

a {
  text-decoration: none;
  font-size: 18px;
  color: #e5e7eb;
}

.logo a {
  color: #f9faf8;
  font-size: 24px;
  font-weight: 600;
}

.hero {
  display: flex;
  padding: 80px 20vw;
  background: #1f2937;
  color: #e5e7eb;
}

.hero-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
}

.title {
  font-size: 48px;
  font-weight: 900;
}

p {
  margin: 0px;
}

.hero-button {
  margin-top: 10px;
  padding: 5px 18px;
  color: #e5e7eb;
  background: #3882f6;
  border: 0px;
  border-radius: 5px;
  font-size: 17px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.hero-button:hover {
  color: #3882f6;
  background: #e5e7eb;
}

.information {
  padding: 40px 20vw 100px;
}

.cards {
  display: flex;
  justify-content: space-around;
}

.info-text {
  font-size: 36px;
  font-weight: 900;
  color: #1f2937;
  text-align: center;
  margin-bottom: 40px;
}

.card img {
  border: solid 4px #3882f6;
  border-radius: 20px;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  max-width: 155px;
  height: 215px;
}

.card p {
  color: #2a2d31;
  text-align: center;
  font-size: 16px;
}

.quote-container {
  background: #e5e7eb;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 400px;
}

.quote-content {
  display: flex;
  flex-direction: column;
  max-width: 700px;
  max-height: 400px;
}

.quote {
  color: #1f2937;
  font-size: 32px;
  font-style: italic;
  font-weight: 300;
  margin-bottom: 15px;
}

.author {
  color: #1f2937;
  font-size: 20px;
  font-weight: bold;
  margin-left: auto;
}

.c2a-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 380px;
}

.c2a-box {
  flex: 0 1 1000px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #3882f6;
  width: 1000px;
  border-radius: 15px;
}

.c2a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 140px;
  padding: 0 10px;
  flex: 0 1 700px;
  flex-wrap: wrap;
}

.big-text {
  color: #f9faf8;
  font-size: 22px;
  font-weight: bold;
}

.small-text {
  color: #f9faf8;
  margin-top: 3px;
}

.c2a-button {
  padding: 5px 18px;
  color: #e5e7eb;
  background: #3882f6;
  border-radius: 5px;
  font-size: 17px;
  cursor: pointer;
  border: solid 2px #e5e7eb;
  transition: all 0.3s ease;
}

.c2a-button:hover {
  color: #3882f6;
  background: #e5e7eb;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #1f2937;
  height: 70px;
}

.footer-text {
  color: #e5e7eb;
  font-size: 17px;
}
